body{
    background-color: rgb(224, 223, 223);
}
h1{
    color: rgb(95, 95, 95);
    font-size: 50px;
}
.main{
    margin: 7.5vh auto;
    width: 1200px;
    height: 800px;
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    color: gray;
    width: 60vw;
    height: 800px;
}
.top{
    display: flex;
    justify-content: center;
    margin: 10% auto;
}
.top1{
    width: 300px;
    display: flex;
    justify-content: space-between;
}
a{
    font-weight: bold;
    text-decoration: none;
    color: gray;
}
.cont:hover{
    background-color: rgb(95, 95, 95);
    color: white;
}
.cont{
    width: 70px;
    height: 70px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(95, 95, 95);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inform{
    background-color: rgb(235, 235, 235);
    padding: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
input::placeholder{
    text-align: left;
    font-size: 17px;
    color: rgb(146, 144, 144);
}
.mes{
    border-radius: 3px;
    border-color: rgb(184, 184, 184);
    border-width: 2px;
}
.ahelp{
    color: gray;
}
.help{
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    border-bottom: 2px gray dashed;
    width: max-content;
}
.btn{
    border-radius: 40px;
    margin: 10% auto;
    height: 50px;
    width: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(175, 125, 204);
}
.acont{
    color: white;
    text-decoration: none;
}
.acont::placeholder{
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.36); 
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.36);
}
.right{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(175, 125, 204);
    width: 40vw;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.right_text{
    width: 20vw;
    height: min-content;
}
.strong{
    font-size: 40px;
    font-weight: bold;
}
.right p{
    flex-wrap: wrap;
}
.btn_arrow{
    height: 50px;
    width: 150px;
    border-radius: 40px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn_arrow a{
    text-decoration: none;
    color: white;
}
.btn_arrow span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}