*{
    color: gray;
    font-size: 25px;
    text-align: center;
}
h1{
    color: rgb(95, 95, 95);
    font-size: 50px;
}
.main{
    display: flex;
    justify-content: center;
}
.left{
    max-width: 1200px;
}
.top{
    display: flex;
    justify-content: center;
    margin: 100px auto;
}
.top1{
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.cont{
    font-size: xx-large;
    width: 70px;
    height: 70px;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inform{
    background-color: rgb(224, 224, 224);
    padding: 10px;
    border: none;
    display: flex;
    flex-direction: column;
}
input::placeholder{
    text-align: left;
    font-size: 17px;
    color: rgb(146, 144, 144);
}
.mes{
    width: 300px;
    height: 75px;
    border-radius: 10px;
    border-color: rgb(224, 224, 224);
    border-width: 2px;
}
a{
    text-decoration: none;
}
.help{
    text-align: center;
    border-bottom: 2px gray dashed;
    width: max-content;
}